<h2><%= @park.name %></h2>
<p>Admissions: $<%= @park.admission %></p>

<h3>Rides:<h3>
<% @park.rides.each do |ride| %>
  <section id="ride-<%= ride.id %>">
    <ol type = '1'>
      <li><%= ride.name %><br/>
        Thrill Rating: <%= ride.rating %></li>
    </ol>
  </section>
<% end %>

<h4>Average Thrill Rating of Rides: <%= @park.average_thrill_rating.round(2) %></h4>
